<div class="container" appApplyClassOnHover="clear-button--block" >
  <app-dropdown
    [list]="propertyList"
    [event]="event()"
    [value]="selectedAttribute()"
    placeholder="Select an attribute"
    (onValueChanged)="handleValueChanged($event)"
  />
  @if(selectedAttribute()) {
  <app-comparison-dropdown
    (onValueChanged)="handleComparisonChanged($event)"
    [value]="selectedComparison()"
  />
  @if(selectedComparison()) {
  <input
    class="input"
    [type]="type()"
    [(ngModel)]="value1"
    (ngModelChange)="updateValue1()"
  />
  @if(isDualInput()){
  <span>and</span>
  <input
    class="input"
    [type]="type()"
    [(ngModel)]="value2"
    (ngModelChange)="updateValue2()"
  />
  } } }
  @if (selectedAttribute()) {
    <img class="icon" src="assets/icons/close.svg" (click)="deleteProperty()"/>
  }
</div>
