<div class="dropdown">
  <button
    class="dropdown__button"
    [class]="{
      placeholder: !selectedValue,
      value: selectedValue
    }"
    (click)="handleButtonClicked()"
  >
    {{ selectedValue }}
    <img class="dropdown__button__icon" [src]="getImageSrc()" />
  </button>
  @if(isOpen) {
  <div class="dropdown__list">
    <div class="dropdown__list__header">
      <div
        class="dropdown__list__header__item"
        [class]="{
          'selected-category': selectedCategory === 'string'
        }"
        (click)="setCategory('string')"
      >
        <img class="dropdown-icon" src="assets/icons/text.svg" />
        <span>STRING</span>
      </div>
      <div
        class="dropdown__list__header__item"
        [class]="{
          'selected-category': selectedCategory === 'number'
        }"
        (click)="setCategory('number')"
      >
        <img class="dropdown-icon" src="assets/icons/hashtag.svg" />
        <span>NUMBER</span>
      </div>
    </div>
    <div class="dropdown__list__container">
      @for (item of displayedList; track $index) {
      <div
        class="dropdown__list__item"
        (click)="selectValue(item)"
        [class]="{
          'dropdown-selected': item === selectedValue
        }"
      >
        {{ item }}
      </div>
      }
    </div>
  </div>
  }
</div>
